* {
  margin-left: 5%;
}
body {
  background-image: url(bw1/assets/bg.jpg);
  background-repeat: no-repeat;
}
.top img {
  margin-top: 3em;
  width: 150px;
}

main{
    color: white;
    margin: 0%;
}
main p:first-child{
    font-size: 4em;
    padding: 0%;
}
main span{
    padding: 0%;
    display: block;
}
