* {
    box-sizing: border-box;
    margin: 0;
    color: white;
}

header {
    background-color: #17192B;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 200px;
}

main {
    background-color: #0F101C;
    padding: 50px;
}

.bell {
    color: #ffffff;
}

.user {
    color: #8ca3ba;
}