<<<<<<< Updated upstream
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

=======
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');
>>>>>>> Stashed changes
body {
  margin-left: 10%;
  margin-right: 10%;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: "Outfit, sans-serif";
  font-optical-sizing: auto;
  font-weight: 500;
  
  font-style: normal;
}

.top img {
  margin-top: 3em;
  width: 150px;
}

main {
  color: white;
}

main p:first-child {
  font-size: 5em;
  font-weight: 100;
  margin-bottom: 0.5em;
}

main span {
  display: block;
  font-size: 4rem;
  margin-top: 0%;
  font-weight: 600;
}
<<<<<<< Updated upstream

.instruction {
=======
.instruction{
  
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
>>>>>>> Stashed changes
  width: 80%;

}

.instruction p:nth-child(2) {
  width: 80%;
}

.instruction ul {
  padding: 2em;
}

.instruction p:first-child {
  color: #d20094;
  font-size: large;
}

footer {
  color: white;
  display: flex;
  justify-content: space-between;
}

.firstButton,
.continue {
  display: flex;
}

button {
  font-weight: 600;
  font-size: larger;
  width: 10em;
  background-color: aqua;
  border: 0px;
  cursor: pointer;
}